<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoção de Animais | PetHope</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='adocao.css') }}">
</head>
<body>

<div class="container">

    <h1>🐾 Animais para adoção</h1>

    {% if animais %}

        {% for animal in animais %}

        <div class="card">

            <h2>{{ animal.nome }}</h2>

            <p><strong>Espécie:</strong> {{ animal.especie }}</p>

            <p><strong>Raça:</strong>
                {{ animal.raca if animal.raca else 'Não informada' }}
            </p>

            <p><strong>Idade:</strong>
                {{ animal.idade if animal.idade else 'Não informada' }}
            </p>

            <p>
                {{ animal.descricao if animal.descricao else 'Sem descrição cadastrada.' }}
            </p>

            {% if animal.status == "Disponível" %}
                🟢 Disponível

            {% elif animal.status == "Em processo de adoção" %}
                🟡 Em processo de adoção

            {% elif animal.status == "Adotado" %}
                🔴 Adotado

            {% else %}
                ⚪ Status não definido
            {% endif %}

    <form action="/adotar/{{ animal.id }}" method="post">

        <button>
            Quero adotar
        </button>

    </form>

        </div>

        {% endfor %}

    {% else %}

        <p class="mensagem">
            Nenhum animal disponível para adoção no momento.
        </p>

    {% endif %}

        
    <a href="/dashboard" class="btn-voltar">
        Voltar
    </a>

</div>

</body>
</html>