<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adotante | PetHope</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>

<header>
    <h2>PetHope 🐾</h2>
    <a href="/logout" style="color:white;">Sair</a>
</header>

<div class="container">

    <h2>Bem-vindo, {{ nome }}</h2>

    <div class="card">
        <h3>Adotar um pet</h3>
        <p>Veja os animais disponíveis para adoção.</p>
        <a class="btn" href="adocao">Ver pets</a>
    </div>

    <div class="card">
        <h3>Minhas adoções</h3>
        <p>Veja os animais que você adotou.</p>
        <a class="btn" href="minhas_adocoes">Minhas solicitações de adoção</a>
    </div>

</div>

</body>
</html>
