<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Voluntário | PetHope</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>

<header>
    <h2>PetHope 🐾</h2>
    <a href="/logout" style="color:white;">Sair</a>
</header>

<div class="container">

    <h2>Olá, {{ nome }}</h2>

    <div class="card">
        <h3>Animais disponíveis</h3>
        <p>Veja animais para adoção.</p>
        <a class="btn" href="adocao">Ver animais</a>
    </div>

    <div class="card">
        <h3>Ser voluntário</h3>
        <p>Ajude ONGs e participe de eventos.</p>
        <a class="btn" href="#">Quero ajudar</a>
    </div>

</div>

</body>
</html>
