<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>PetHope | Dashboard ONG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_ong.css') }}">
</head>
</head>
<body>

<header>
    <h1>Dashboard da ONG</h1>
    <a href="/logout">Sair</a>
</header>

<main>
    <section>
        <p>Bem-vinda, {{ session['ong_nome'] }}</p>
        <h2>Gerenciamento</h2>

        <div class="cards">
            <a href="cadastro_animal" class="card">
                🐾 Cadastrar Animal
            </a>

            <a href="animais" class="card">
                📋 Meus Animais
            </a>

            <a href="#" class="card">
                📝 Solicitações de Adoção
            </a>

            <a href="#" class="card">
                🤝 Voluntários
            </a>
        </div>
    </section>
</main>

</body>
</html>
