<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Solicitações</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='solicitacoes.css') }}">
</head>
<body>

<h1>Solicitações de adoção</h1>

{% for s in solicitacoes %}

    <hr>

    <h3>{{ s.animal.nome }}</h3>

    <p><strong>Interessado:</strong> {{ s.usuario.nome }}</p>

    <p><strong>Status:</strong> {{ s.status }}</p>

    {% if s.status == "Pendente" %}

        <form action="/aprovar/{{ s.id }}" method="post">
            <button type="submit">Aprovar</button>
        </form>

        <form action="/recusar/{{ s.id }}" method="post">
            <button type="submit">Recusar</button>
        </form>

    {% elif s.status == "Aprovada" %}

        <p style="color: green;">
            ✅ Solicitação aprovada.
        </p>

    {% elif s.status == "Recusada" %}

        <p style="color: red;">
            ❌ Solicitação recusada.
        </p>

    {% endif %}

{% else %}
    <p>Nenhuma solicitação de adoção encontrada.</p>
{% endfor %}

<br>

<a href="/dashboard_ong" class="btn-voltar">
    Voltar
</a>

</body>
</html>
